/* De container voor de lader (standaard verborgen) */
#otters_page_loader {
  display: none; /* Verberg standaard */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Witte waas */
  z-index: 9999; /* Bovenop alles */
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* Wanneer we de class 'active' toevoegen, wordt hij zichtbaar */
  &.active {
    display: flex;
  }

  /* Het icoontje */
  .otters_spinner {
    font-size: 4rem;
    color: #212529; /* Donkergrijs, of gebruik je eigen merkkleur */
  }

  .otters_text {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #212529;
  }
}