/* static/src/scss/product_card.scss */

/* ==============================================
   1. DE VARIANTEN (Confetti + Randkleur)
============================================== */
.variant_1 .oe_product_image { background-image: url('/otters_theme/static/src/img/product_blue.jpg'); }
.variant_1 .o_wsale_product_information { border-color: #a8b6d7 !important; }

.variant_2 .oe_product_image { background-image: url('/otters_theme/static/src/img/product_green.jpg'); }
.variant_2 .o_wsale_product_information { border-color: #a7fa9f !important; }

.variant_3 .oe_product_image { background-image: url('/otters_theme/static/src/img/product_orange.jpg'); }
.variant_3 .o_wsale_product_information { border-color: #ffb86d !important; }

.variant_4 .oe_product_image { background-image: url('/otters_theme/static/src/img/product_pink.jpg'); }
.variant_4 .o_wsale_product_information { border-color: #facacb !important; }

.variant_5 .oe_product_image { background-image: url('/otters_theme/static/src/img/product_yellow.jpg'); }
.variant_5 .o_wsale_product_information { border-color: #faf69f !important; }


/* ==============================================
   2. DE CONFETTI FOTO CONTAINER
============================================== */
.oe_product_cart .oe_product_image {
  /* Alleen padding toevoegen voor de rand.
     We komen NIET aan width, height of aspect-ratio. */
  padding: 25px !important;

  /* De confetti achtergrond positioneren */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Zorg dat de achtergrond (confetti) stopt bij de padding */
  background-origin: border-box;
}

/* ==============================================
   3. DE GEKLEURDE RAND (INFO BLOK)
============================================== */
.oe_product_cart .o_wsale_product_information {
  /* We zetten de achtergrond op wit, anders zie je de randen soms niet goed.
     Als je dit transparant wilt, haal dan de volgende regel weg: */
  background-color: #ffffff !important;

  /* We halen text-align, color en font styling WEG.
     Dit pakt hij nu van jouw Odoo Editor instellingen. */

  /* Alleen padding en rand-vormgeving */
  padding: 10px !important;

  border-top: none !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  /* De dikke gekleurde rand */
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-right-width: 15px;
  border-style: solid;
}


/* ==============================================
   4. TECHNISCHE FIX VOOR SNIPPETS
   Alleen nodig omdat snippets anders soms de foto verbergen.
============================================== */

/* In de snippet zit de foto in een link (a) en een span.
   We zorgen alleen dat die de ruimte vullen binnen de confetti-padding. */
.o_carousel_product_card .oe_product_image a,
.o_carousel_product_card .oe_product_image .oe_product_image_img_wrapper {
  display: block !important;
  width: 100% !important;
  /* Min-height zorgt dat de confetti altijd zichtbaar is, ook als de foto traag laadt */
  min-height: 100%;
}

/* Specifiek voor de achtergrond-afbeelding in snippets (de span) */
.o_carousel_product_card .oe_product_image .oe_product_image_img {
  display: block !important;
  width: 100% !important;

  /* We dwingen hier een hoogte af, anders is de snippet foto 0px hoog */
  min-height: 250px;
  height: 100% !important;

  /* Standaard gedrag nabootsen zonder zoom te forceren */
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}