/* static/src/scss/product_card.scss */

/* ==============================================
   1. DE VARIANTEN (Confetti + Randkleur)
============================================== */
.variant_1 .oe_product_image { background-image: url('/otters_theme/static/src/img/product_blue.jpg'); }
.variant_1 .o_wsale_product_information { border-color: #a8b6d7 !important; }

.variant_2 .oe_product_image { background-image: url('/otters_theme/static/src/img/product_green.jpg'); }
.variant_2 .o_wsale_product_information { border-color: #a7fa9f !important; }

.variant_3 .oe_product_image { background-image: url('/otters_theme/static/src/img/product_orange.jpg'); }
.variant_3 .o_wsale_product_information { border-color: #ffb86d !important; }

.variant_4 .oe_product_image { background-image: url('/otters_theme/static/src/img/product_pink.jpg'); }
.variant_4 .o_wsale_product_information { border-color: #facacb !important; }

.variant_5 .oe_product_image { background-image: url('/otters_theme/static/src/img/product_yellow.jpg'); }
.variant_5 .o_wsale_product_information { border-color: #faf69f !important; }


/* ==============================================
   2. DE CONFETTI FOTO CONTAINER
============================================== */
.oe_product_cart .oe_product_image {
  /* Alleen padding toevoegen voor de rand. */
  padding: 25px !important;

  /* De confetti achtergrond positioneren */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
}

/* ==============================================
   3. DE GEKLEURDE RAND (INFO BLOK)
   Hier voegen we Flexbox toe om de hoogte op te vullen
============================================== */
.oe_product_cart .o_wsale_product_information {
  background-color: #ffffff !important;
  padding: 10px !important;

  border-top: none !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  /* De dikke gekleurde rand */
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-right-width: 15px;
  border-style: solid;

  /* --- NIEUW: ZORG DAT DIT BLOK UITREKT --- */
  /* Dit duwt de border naar beneden zodat hij gelijk komt met de buurman */
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Duwt prijs naar beneden, titel naar boven */
}


/* ==============================================
   4. TECHNISCHE FIX VOOR SNIPPETS
============================================== */
.o_carousel_product_card .oe_product_image a,
.o_carousel_product_card .oe_product_image .oe_product_image_img_wrapper {
  display: block !important;
  width: 100% !important;
  min-height: 100%;
}

.o_carousel_product_card .oe_product_image .oe_product_image_img {
  display: block !important;
  width: 100% !important;
  min-height: 250px;
  height: 100% !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

/* ==============================================
   5. ALGEMENE KAART STRUCTUUR (NIEUW)
   Dit zorgt dat de kaart zelf de volle hoogte van de rij pakt
============================================== */
.oe_product_cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* Zorg dat we de border-radius en overflow respecteren */
  border: none;
}

/* ==============================================
   6. TITEL HOOGTE FIX (NIEUW)
   Forceer altijd 2 regels hoogte voor de titel
============================================== */
.oe_product_cart .o_wsale_products_item_title {
  line-height: 1.4;
  min-height: 2.8em; /* 1.4 * 2 regels = 2.8em */

  /* Netjes afkappen met ... als het toch langer is dan 2 regels */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  margin-bottom: 0.5rem;
}